@page "/"

<PageTitle>Quotinator</PageTitle>

<h1>Quotinator</h1>
<p class="lead">@Text.AppTagline</p>

<QuoteCard @rendermode="InteractiveServer" />

<hr />

<h2>@Text.RestApiHeading</h2>
<p>@Text.RestApiDescription</p>

<p>
    <a class="btn btn-primary" href="@ApiRoutes.ScalarUi.AsLink()" target="_blank">@Text.OpenApiButtonLabel</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Text.EndpointColumn</th>
            <th>@Text.UrlColumn</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Text.OpenApiUiLabel</td>
            <td><a href="@ApiRoutes.ScalarUi.AsLink()" target="_blank">@ApiRoutes.ScalarUi.AsLink()</a></td>
        </tr>
        <tr>
            <td>@Text.OpenApiSpecLabel</td>
            <td><a href="@ApiRoutes.OpenApiSpec.AsLink()" target="_blank">@ApiRoutes.OpenApiSpec.AsLink()</a></td>
        </tr>
        <tr>
            <td>@Text.HealthCheckLabel</td>
            <td><a href="@ApiRoutes.Health.AsLink()" target="_blank">@ApiRoutes.Health.AsLink()</a></td>
        </tr>
    </tbody>
</table>

<hr />

<h2>@Text.TranslationsHeading</h2>
<p>@Text.TranslationsQuoteContent</p>
<p>@Text.TranslationsUi</p>

<hr />

<h2>@Text.AboutHeading</h2>
<p>@Text.AboutDescription</p>
<ul>
    <li>@Text.AboutRoadmapV1</li>
    <li>@Text.AboutRoadmapV2</li>
    <li>@Text.AboutRoadmapV3</li>
</ul>

<p class="text-muted mt-4">
    <small>Version @VersionService.Version &mdash; @Env.EnvironmentName</small>
</p>
